.searchBarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%; /* Adjust as needed */
  gap: 28px; /* Adjust the spacing between items */
}

.divider {
  height: "200px";
}

.CollapsibleRoot {
  background-color: #333;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid #444;
  transition: background-color 0.3s ease;
  width: '20%';
  align-items: 'flex-start';
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  width: 50%;
  gap: 16px;
}

.IconButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
  color: #fff;
  transition: background-color 0.2s ease;
}

.Text {
  font-size: 16px;
  color: #e0e0e0;
  font-family: 'Arial', sans-serif;
  margin: 8px 0;
}

.Repository {
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #444;
  margin-top: 8px;
  transition: background-color 0.3s ease;
}

.Repository:hover {
  background-color: #555;
}

#root {
  max-width: '100%';
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  margin: 0;
}

@media (max-width: 768px) {
  .searchBarContainer {
    height: 100px;
    flex-direction: column;
    align-items: stretch;
  }
  .listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    width: 90%;
    gap: 16px;
  }
}

/* styles.css */
.CollapsibleContent {
	overflow: hidden;
  align-items: flex-start;
}
.CollapsibleContent[data-state="open"] {
	animation: slideDown 300ms ease-out;
}
.CollapsibleContent[data-state="closed"] {
	animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
	from {
		height: 0;
	}
	to {
		height: var(--radix-collapsible-content-height);
	}
}

@keyframes slideUp {
	from {
		height: var(--radix-collapsible-content-height);
	}
	to {
		height: 0;
	}
}
