.searchBarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%; /* Adjust as needed */
  gap: 28px; /* Adjust the spacing between items */
}

.divider {
  height: "200px";
}

.CollapsibleRoot {
  background-color: #333;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid #444;
  transition: background-color 0.3s ease;
  width: '20%';
  align-items: 'flex-start';
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  width: 50%;
  gap: 16px;
}

.IconButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
  color: #fff;
  transition: background-color 0.2s ease;
}

.Text {
  font-size: 16px;
  color: #e0e0e0;
  font-family: 'Arial', sans-serif;
  margin: 8px 0;
}

.Repository {
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #444;
  margin-top: 8px;
  transition: background-color 0.3s ease;
}

.Repository:hover {
  background-color: #555;
}

#root {
  max-width: '100%';
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  margin: 0;
}

/* styles.css */
.CollapsibleContent {
  overflow: hidden;
  align-items: flex-start;
}
.CollapsibleContent[data-state="open"] {
  animation: slideDown 600ms ease-in;
}
.CollapsibleContent[data-state="closed"] {
  animation: slideUp 400ms ease-out;
}

@media (max-width: 768px) {
  .searchBarContainer {
    height: 100px;
    flex-direction: column;
    align-items: stretch;
  }
  .listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    width: 90%;
    gap: 16px;
  }
}

/* styles.css */
.CollapsibleContent {
	overflow: hidden;
  align-items: flex-start;
}
.CollapsibleContent[data-state="open"] {
	animation: slideDown 300ms ease-out;
}
.CollapsibleContent[data-state="closed"] {
	animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
	from {
		height: 0;
	}
	to {
		height: var(--radix-collapsible-content-height);
	}
}

@keyframes slideUp {
	from {
		height: var(--radix-collapsible-content-height);
	}
	to {
		height: 0;
	}
}


@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css";

/* reset */
button {
	all: unset;
}

.SelectTrigger {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	padding: 0 15px;
	font-size: 13px;
	line-height: 1;
	height: 35px;
	gap: 5px;
	/*background-color: white;*/
	/*color: var(--violet-11);*/
	box-shadow: 0 2px 10px var(--black-a7);
}
.SelectTrigger:hover {
	background-color: var(--mauve-3);
}
.SelectTrigger:focus {
	box-shadow: 0 0 0 2px black;
}
.SelectTrigger[data-placeholder] {
	/*color: var(--violet-9);*/
}

.SelectIcon {
	color: Var(--violet-11);
}

.SelectContent {
	overflow: hidden;
    background-color: black;
	border-radius: 6px;
	box-shadow:
		0px 10px 38px -10px rgba(22, 23, 24, 0.35),
		0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.SelectViewport {
	padding: 5px;
}

.SelectItem {
	font-size: 13px;
	line-height: 1;
	/*color: var(--violet-11);*/
	border-radius: 3px;
	display: flex;
	align-items: center;
	height: 25px;
	padding: 0 35px 0 25px;
	position: relative;
	user-select: none;
    background-color: 'red';
}
.SelectItem[data-disabled] {
	color: var(--mauve-8);
	pointer-events: none;
}
.SelectItem[data-highlighted] {
	outline: none;
	background-color: 'white';
	color: var(--violet-1);
}

.SelectLabel {
	padding: 0 25px;
	font-size: 12px;
	line-height: 25px;
	/*color: var(--mauve-11);*/
    background-color:red;
}

.SelectSeparator {
	height: 1px;
	background-color: var(--violet-6);
	margin: 5px;
}

.SelectItemIndicator {
	position: absolute;
	left: 0;
	width: 25px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.SelectScrollButton {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 25px;
	background-color: white;
	color: var(--violet-11);
	cursor: default;
}

